ul.nav-tabs(ngbNav, #nav='ngbNav')
    li(ngbNavItem)
        a(ngbNavLink) General
        ng-template(ngbNavContent)
            .row
                .col-6(ng:if='hostApp.platform !== Platform.Web')
                    .form-group
                        label Device
                        input.form-control(
                            type='text',
                            alwaysVisibleTypeahead,
                            [(ngModel)]='profile.options.port',
                            [ngbTypeahead]='portsAutocomplete',
                            [resultFormatter]='portsFormatter'
                        )

                .col-6
                    .form-group
                        label Baud Rate
                        input.form-control(
                            type='number',
                            alwaysVisibleTypeahead,
                            placeholder='Ask every time',
                            [(ngModel)]='profile.options.baudrate',
                            [ngbTypeahead]='baudratesAutocomplete'
                        )

            stream-processing-settings([options]='profile.options')

    li(ngbNavItem)
        a(ngbNavLink) Advanced
        ng-template(ngbNavContent)
            .form-line
                .header
                    .title Data bits
                input.form-control(
                    type='number',
                    placeholder='8',
                    [(ngModel)]='profile.options.databits',
                )

            .form-line
                .header
                    .title Stop bits
                input.form-control(
                    type='number',
                    placeholder='1',
                    [(ngModel)]='profile.options.stopbits',
                )

            .form-line
                .header
                    .title Parity
                input.form-control(
                    type='text',
                    [(ngModel)]='profile.options.parity',
                    placeholder='none'
                )

            .form-line
                .header
                    .title RTS / CTS
                toggle([(ngModel)]='profile.options.rtscts')

            .form-line
                .header
                    .title XON
                toggle([(ngModel)]='profile.options.xon')

            .form-line
                .header
                    .title XOFF
                toggle([(ngModel)]='profile.options.xoff')

            .form-line
                .header
                    .title Xany
                toggle([(ngModel)]='profile.options.xany')

    li(ngbNavItem)
        a(ngbNavLink) Login scripts
        ng-template(ngbNavContent)
            login-scripts-settings([options]='profile.options')

div([ngbNavOutlet]='nav')
