.input-group.w-100
    input.search-input.form-control(
        type='search',
        [(ngModel)]='query',
        (ngModelChange)='notFound = false',
        [class.text-danger]='notFound',
        (click)='$event.stopPropagation()',
        (keyup.enter)='findNext()',
        (keyup.esc)='close.emit()',
        placeholder='Search...'
    )
    .input-group-append
        .btn-group
            button.btn.btn-outline-primary(
                (click)='options.caseSensitive = !options.caseSensitive',
                [class.active]='options.caseSensitive',
                ngbTooltip='Case sensitivity',
                placement='bottom'
            )
                i.fa.fa-fw.fa-font
            button.btn.btn-outline-primary(
                (click)='options.regex = !options.regex',
                [class.active]='options.regex',
                ngbTooltip='Regular expression',
                placement='bottom'
            )
                i.fa.fa-fw.fa-asterisk
            button.btn.btn-outline-primary(
                (click)='options.wholeWord = !options.wholeWord',
                [class.active]='options.wholeWord',
                ngbTooltip='Whole word',
                placement='bottom'
            )
                i.fa.fa-fw.fa-text-width
