.row
    .col-lg-6
        .form-group
            label Preview
            .appearance-preview(
                [style.font-family]='config.full().terminal.font',
                [style.font-size]='config.full().terminal.fontSize + "px"',
                [style.background-color]='(config.full().terminal.background == "theme") ? null : config.full().terminal.colorScheme.background',
                [style.color]='config.full().terminal.colorScheme.foreground',
            )
                div 
                    span john@doe-pc
                    span([style.color]='config.full().terminal.colorScheme.colors[1]') $
                    span  webpack
                div 
                    span   Asset        Size
                div 
                    span([style.color]='config.full().terminal.colorScheme.colors[2]') main.js      
                    span   234 kB
                    span([style.color]='config.full().terminal.colorScheme.colors[2]')    [emitted]
                div 
                    span([style.color]='config.full().terminal.colorScheme.colors[3]')  big.js      
                    span([style.color]='config.full().terminal.colorScheme.colors[3]')   1.2 MB
                    span([style.color]='config.full().terminal.colorScheme.colors[2]')    [emitted]
                    span([style.color]='config.full().terminal.colorScheme.colors[3]')  [big]
                div
                    span 
                div 
                    span john@doe-pc
                    span([style.color]='config.full().terminal.colorScheme.colors[1]') $
                    span  ls -l
                div 
                    span drwxr-xr-x  1 root root 
                    span([style.color]='config.full().terminal.colorScheme.colors[4]') directory
                div 
                    span -rw-r--r--  1 root root file
                div 
                    span -rwxr-xr-x  1 root root
                    span([style.color]='config.full().terminal.colorScheme.colors[2]')  executable
                div 
                    span -rwxr-xr-x  1 root root
                    span([style.color]='config.full().terminal.colorScheme.colors[6]')  sym
                    span  ->
                    span([style.color]='config.full().terminal.colorScheme.colors[1]')  link
                div
                    span 
                div 
                    span john@doe-pc
                    span([style.color]='config.full().terminal.colorScheme.colors[1]') $
                    span  rm -rf /
                    span([style.background-color]='config.full().terminal.colorScheme.cursor') &nbsp;
                    
                    
    .col-lg-6
        .form-group
            label Font
            .row
                .col-8
                    input.form-control(
                        type='text',
                        [ngbTypeahead]='fontAutocomplete',
                        '[(ngModel)]'='config.store.terminal.font',
                        (ngModelChange)='config.save()',
                    )
                .col-4
                    input.form-control(
                        type='number',
                        '[(ngModel)]'='config.store.terminal.fontSize',
                        (ngModelChange)='config.save()',
                    )
            small.form-text.text-muted Font to be used in the terminal
            
        .form-group
            label Color scheme
            select.form-control(
                [compareWith]='equalComparator',
                '[(ngModel)]'='config.store.terminal.colorScheme',
                (ngModelChange)='config.save()',
            )
                option(*ngFor='let scheme of colorSchemes', [ngValue]='scheme') {{scheme.name}}
                
            div(*ngIf='config.store.terminal.colorScheme.colors')
                color-picker(
                    '[(model)]'='config.store.terminal.colorScheme.foreground',
                    (modelChange)='config.save()',
                    title='FG',
                )
                color-picker(
                    '[(model)]'='config.store.terminal.colorScheme.background',
                    (modelChange)='config.save()',
                    title='BG',
                )
                color-picker(
                    '[(model)]'='config.store.terminal.colorScheme.cursor',
                    (modelChange)='config.save()',
                    title='CU',
                )
                color-picker(
                    *ngFor='let _ of config.store.terminal.colorScheme.colors; let idx = index',
                    '[(model)]'='config.store.terminal.colorScheme.colors[idx]',
                    (modelChange)='config.save()',
                    [title]='idx',
                )

        .form-group
            label Terminal background
            br
            div(
                '[(ngModel)]'='config.store.terminal.background',
                (ngModelChange)='config.save()',
                ngbRadioGroup
            )
                label.btn.btn-secondary
                    input(
                        type='radio',
                        [value]='"theme"'
                    )
                    | From the app theme
                label.btn.btn-secondary
                    input(
                        type='radio',
                        [value]='"colorScheme"'
                    )
                    | From the terminal colors

        .form-group
            label Terminal bell
            br
            div(
                '[(ngModel)]'='config.store.terminal.bell',
                (ngModelChange)='config.save()',
                ngbRadioGroup
            )
                label.btn.btn-secondary
                    input(
                        type='radio',
                        [value]='"off"'
                    )
                    | Off
                label.btn.btn-secondary
                    input(
                        type='radio',
                        [value]='"visual"'
                    )
                    | Visual
                label.btn.btn-secondary
                    input(
                        type='radio',
                        [value]='"audible"'
                    )
                    | Audible
