.list-group.mb-3
    .list-group-item.d-flex.align-items-center(*ngFor='let fw of model')
        strong(*ngIf='fw.type === PortForwardType.Local') Local
        strong(*ngIf='fw.type === PortForwardType.Remote') Remote
        strong(*ngIf='fw.type === PortForwardType.Dynamic') Dynamic
        .ml-3 {{fw.host}}:{{fw.port}}
        .ml-2 &rarr;
        .ml-2(*ngIf='fw.type !== PortForwardType.Dynamic') {{fw.targetAddress}}:{{fw.targetPort}}
        .ml-2(*ngIf='fw.type === PortForwardType.Dynamic') SOCKS proxy
        button.btn.btn-link.hover-reveal.ml-auto((click)='remove(fw)')
            i.fas.fa-trash-alt

.input-group.mb-2(*ngIf='newForward.type === PortForwardType.Dynamic')
    input.form-control(type='text', [(ngModel)]='newForward.host')
    .input-group-append
        .input-group-text :
    input.form-control(type='number', [(ngModel)]='newForward.port')
    .input-group-append
        .input-group-text &rarr;
    .input-group-append.input-group-text(style='flex: 3 1 0') SOCKS proxy

.input-group.mb-2(*ngIf='newForward.type !== PortForwardType.Dynamic')
    input.form-control(type='text', [(ngModel)]='newForward.host')
    .input-group-append
        .input-group-text :
    input.form-control(type='number', [(ngModel)]='newForward.port')
    .input-group-append
        .input-group-text &rarr;
    input.form-control(type='text', [(ngModel)]='newForward.targetAddress')
    .input-group-append
        .input-group-text :
    input.form-control(type='number', [(ngModel)]='newForward.targetPort')

.d-flex
    .btn-group.mr-auto(
        [(ngModel)]='newForward.type',
        ngbRadioGroup
    )
        label.btn.btn-secondary.m-0(ngbButtonLabel)
            input(
                type='radio',
                ngbButton,
                [value]='PortForwardType.Local'
            )
            | Local
        label.btn.btn-secondary.m-0(ngbButtonLabel)
            input(
                type='radio',
                ngbButton,
                [value]='PortForwardType.Remote'
            )
            | Remote
        label.btn.btn-secondary.m-0(ngbButtonLabel)
            input(
                type='radio',
                ngbButton,
                [value]='PortForwardType.Dynamic'
            )
            | Dynamic

    button.btn.btn-primary((click)='addForward()')
        i.fas.fa-check.mr-2
        span Forward port
