h3 SSH

.form-line
    .header
        .title(translate) Warn when closing active connections
    toggle(
        [(ngModel)]='config.store.ssh.warnOnClose',
        (ngModelChange)='config.save()',
    )

.form-line
    .header
        .title(translate) Verify host keys when connecting
    toggle(
        [(ngModel)]='config.store.ssh.verifyHostKeys',
        (ngModelChange)='config.save()',
    )

.form-line(*ngIf='hostApp.platform === Platform.Windows')
    .header
        .title(translate) WinSCP path
        .description(translate) When WinSCP is detected, you can launch an SCP session from the context menu.
    input.form-control(
        type='text',
        placeholder='Auto-detect',
        [(ngModel)]='config.store.ssh.winSCPPath',
        (ngModelChange)='config.save()',
    )

.form-line(*ngIf='hostApp.platform === Platform.Windows')
    .header
        .title(translate) Agent type
        .description(translate) Forces a specific SSH agent connection type.
    select.form-control(
        [(ngModel)]='config.store.ssh.agentType',
        (ngModelChange)='config.save()',
    )
        option(value='auto', translate) Automatic
        option(value='pageant') Pageant
        option(value='pipe') Named pipe

.form-line(*ngIf='config.store.ssh.agentType === "pipe"')
    .header
        .title(translate) Agent pipe path
        .description(translate) Sets the SSH agent's named pipe path.
    input.form-control(
        type='text',
        placeholder='Default: \\\\.\\pipe\\openssh-ssh-agent',
        [(ngModel)]='config.store.ssh.agentPath',
        (ngModelChange)='config.save()',
    )

.form-line
    .header
        .title(translate) Override X11 display
        .description(translate) Path or address of the local X11 socket
    input.form-control(
        type='text',
        [placeholder]='defaultX11Display',
        [(ngModel)]='config.store.ssh.x11Display',
        (ngModelChange)='config.save()'
    )

.alert.alert-info(translate) SSH connection management is now done through the "Profiles & connections" tab
