h3 SSH

.form-line
    .header
        .title Warn when closing active connections
    toggle(
        [(ngModel)]='config.store.ssh.warnOnClose',
        (ngModelChange)='config.save()',
    )

.form-line(*ngIf='hostApp.platform === Platform.Windows')
    .header
        .title WinSCP path
        .description When WinSCP is detected, you can launch an SCP session from the context menu.
    input.form-control(
        type='text',
        placeholder='Auto-detect',
        [(ngModel)]='config.store.ssh.winSCPPath',
        (ngModelChange)='config.save()',
    )

.form-line(*ngIf='hostApp.platform === Platform.Windows')
    .header
        .title Agent type
        .description Forces a specific SSH agent connection type.
    select.form-control(
        [(ngModel)]='config.store.ssh.agentType',
        (ngModelChange)='config.save()',
    )
        option(value='auto') Automatic
        option(value='pageant') Pageant
        option(value='pipe') Named pipe

.form-line(*ngIf='config.store.ssh.agentType === "pipe"')
    .header
        .title Agent pipe path
        .description Sets the SSH agent's named pipe path.
    input.form-control(
        type='text',
        placeholder='Default: \\\\.\\pipe\\openssh-ssh-agent',
        [(ngModel)]='config.store.ssh.agentPath',
        (ngModelChange)='config.save()',
    )

.form-line
    .header
        .title Override X11 display
        .description Path or address of the local X11 socket
    input.form-control(
        type='text',
        [placeholder]='defaultX11Display',
        [(ngModel)]='config.store.ssh.x11Display',
        (ngModelChange)='config.save()'
    )

.alert.alert-info SSH connection management is now done through the #[strong Profiles & connections] tab
