ng-container(*ngIf='!argvMode')
    .mb-3
        label(translate) Command line
        .input-group
            a.input-group-text.text-decoration-none(
                (click)='switchToArgv()',
                ngbTooltip='Split into unescaped arguments',
                href='#'
            )
                i.fas.fa-fw.fa-caret-right
            input.form-control.text-monospace(
                [(ngModel)]='command',
                (ngModelChange)='parseCommand()'
            )

ng-container(*ngIf='argvMode && _model')
    .mb-3
        label(translate) Program
        .input-group
            a.input-group-text.text-decoration-none(
                (click)='switchToCommand()',
                ngbTooltip='Combine into a single escaped command',
                href='#'
            )
                i.fas.fa-fw.fa-caret-down
            input.form-control.text-monospace(
                type='text',
                [(ngModel)]='_model.command',
            )

    .mb-3(*ngIf='_model.args')
        label(translate) Arguments
        .input-group(
            *ngFor='let arg of _model.args; index as i; trackBy: trackByIndex',
        )
            input.form-control.text-monospace(
                type='text',
                [(ngModel)]='_model.args[i]',
            )
            button.btn.btn-secondary((click)='_model.args.splice(i, 1)')
                i.fas.fa-fw.fa-trash

        .mt-2
            button.btn.btn-secondary((click)='_model.args.push("")')
                i.fas.fa-plus.me-2
                span(translate) Add
