.d-flex.align-items-center
    .dropdown-header(translate) File transfers
    button.btn.btn-link.ms-auto((click)='removeAll(); $event.stopPropagation()') !{require('../icons/times.svg')}
.transfer(*ngFor='let transfer of transfers', (click)='showTransfer(transfer)')
    .icon(*ngIf='isDownload(transfer)') !{require('../icons/download.svg')}
    .icon(*ngIf='!isDownload(transfer)') !{require('../icons/upload.svg')}
    .main
        label.no-wrap([ngbTooltip]='transfer.getName()')
            | {{transfer.getName()}}
            span.ms-2.text-muted(*ngIf='getActiveChild(transfer) as child') {{child.getName()}} — {{getProgress(child)}}%
            span.ms-2.text-muted(*ngIf='!getActiveChild(transfer) && transfer.getStatus() && !transfer.isFailed()') ({{transfer.getStatus()}})
        ngb-progressbar([type]='getBarType(transfer)', [value]='isSizeUnknown(transfer) ? 100 : getProgress(transfer)', [striped]='isSizeUnknown(transfer)', [animated]='isSizeUnknown(transfer)')
        .metadata
            .size(*ngIf='isSizeUnknown(transfer)')
                | {{transfer.getCompletedBytes()|filesize}} / ≥{{transfer.getSize()|filesize}}&nbsp;
                span(translate) (scanning)
            .size(*ngIf='!isSizeUnknown(transfer)') {{transfer.getCompletedBytes()|filesize}} / {{transfer.getSize()|filesize}}
            .percent(*ngIf='!isSizeUnknown(transfer)') {{getProgress(transfer)}}%
            .state([class.text-danger]='transfer.isFailed() || transfer.isCancelled()') {{getStateLabel(transfer)}}
            .speed(*ngIf='!transfer.isComplete() && !transfer.isFailed() && !transfer.isCancelled() && transfer.getSpeed()') {{transfer.getSpeed()|filesize}}/s
        label.no-wrap.error.text-danger(*ngIf='transfer.isFailed()', [ngbTooltip]='transfer.getError()') {{transfer.getError()}}

    button.btn.btn-link(
        *ngIf='transfer.canRetry()',
        [ngbTooltip]='retryLabel',
        (click)='retryTransfer(transfer); $event.stopPropagation()'
    )
        i.fas.fa-redo
    button.btn.btn-link(
        *ngIf='!transfer.isComplete()',
        (click)='removeTransfer(transfer); $event.stopPropagation()'
    ) !{require('../icons/times.svg')}
    button.btn.btn-link(
        *ngIf='transfer.isComplete()',
        (click)='removeTransfer(transfer); $event.stopPropagation()'
    ) !{require('../icons/check.svg')}
