.modal-body
    .d-flex.align-items-center.mb-3
        h3.m-0(translate) Vault is locked
        .ms-auto(ngbDropdown, placement='bottom-right')
            button.btn.btn-link(ngbDropdownToggle, (click)='$event.stopPropagation()')
                span(
                    *ngIf='rememberFor',
                    translate='Remember for {time}',
                    [translateParams]='{time: getRememberForDisplay(rememberFor)}'
                )
                span(*ngIf='!rememberFor', translate) Do not remember
            div(ngbDropdownMenu)
                button.dropdown-item(
                    (click)='rememberFor = 0',
                    translate
                ) Do not remember
                button.dropdown-item(
                    *ngFor='let x of rememberOptions',
                    (click)='rememberFor = x',
                ) {{getRememberForDisplay(x)}}

    // Touch ID expired warning
    .alert.alert-warning.mb-3(*ngIf='touchIdExpired')
        i.fas.fa-clock.me-2
        span(translate) Touch ID has expired. Please enter your passphrase.

    // Touch ID error message
    .alert.alert-danger.mb-3(*ngIf='touchIdError')
        i.fas.fa-exclamation-triangle.me-2
        span {{touchIdError}}

    // Touch ID button (show when available, enabled, and not expired)
    .d-flex.justify-content-center.mb-3(*ngIf='touchIdAvailable && touchIdEnabled && !touchIdExpired')
        button.btn.btn-lg.btn-outline-primary((click)='unlockWithTouchId()')
            i.fas.fa-fingerprint.me-2
            span(translate) Unlock with Touch ID

    // Divider when Touch ID is available
    .d-flex.align-items-center.mb-3(*ngIf='touchIdAvailable && touchIdEnabled && !touchIdExpired')
        hr.flex-grow-1.me-2
        span.text-muted(translate) or enter passphrase
        hr.flex-grow-1.ms-2

    .input-group
        input.form-control.form-control-lg(
            type='password',
            [(ngModel)]='passphrase',
            #input,
            placeholder='Master passphrase',
            (keyup.enter)='ok()',
            (keyup.esc)='cancel()',
        )
        button.btn.btn-secondary((click)='ok()', *ngIf='passphrase')
            i.fas.fa-check
