.text-center(*ngIf='!vault.isEnabled()')
    i.fas.fa-key.fa-3x.m-3
    h3.m-3 Vault is not configured
    .m-3 Vault is an always-encrypted container for secrets such as SSH passwords and private key passphrases.
    button.btn.btn-primary.m-2((click)='enableVault()') Set master passphrase


div(*ngIf='vault.isEnabled()')
    .d-flex.align-items-center.mb-3
        h3.m-0 Vault
        .d-flex.ml-auto(ngbDropdown, *ngIf='vault.isEnabled()')
            button.btn.btn-secondary(ngbDropdownToggle) Options
            div(ngbDropdownMenu)
                a(ngbDropdownItem, (click)='changePassphrase()')
                    i.fas.fa-fw.fa-key
                    span Change the master passphrase
                a(ngbDropdownItem, (click)='disableVault()')
                    i.fas.fa-fw.fa-radiation-alt
                    span Erase the vault

    div(*ngIf='vaultContents')
        .text-center(*ngIf='!vaultContents.secrets.length')
            i.fas.fa-empty-set.fa-3x
            h3.m-3 Vault is empty

        .list-group
            .list-group-item.d-flex.align-items-center.p-1.pl-3(*ngFor='let secret of vaultContents.secrets')
                i.fas.fa-key
                .mr-auto {{getSecretLabel(secret)}}

                .hover-reveal(ngbDropdown)
                    button.btn.btn-link(ngbDropdownToggle)
                        i.fas.fa-ellipsis-v
                    div(ngbDropdownMenu)
                        button(
                            ngbDropdownItem,
                            *ngIf='secret.type === VAULT_SECRET_TYPE_FILE',
                            (click)='renameFile(secret)'
                        )
                            i.fas.fa-fw.fa-pencil-alt
                            span Rename
                        button(
                            ngbDropdownItem,
                            *ngIf='secret.type === VAULT_SECRET_TYPE_FILE',
                            (click)='replaceFileContent(secret)'
                        )
                            i.fas.fa-fw.fa-file-import
                            span Replace
                        button(
                            ngbDropdownItem,
                            *ngIf='secret.type === VAULT_SECRET_TYPE_FILE',
                            (click)='exportFile(secret)'
                        )
                            i.fas.fa-fw.fa-file-export
                            span Export
                        button(ngbDropdownItem, (click)='removeSecret(secret)')
                            i.fas.fa-fw.fa-trash
                            span Delete

        h3.mt-5 Options
        .form-line
            .header
                .title Encrypt config file
                .description Puts all of Tabby's configuration into the vault
            toggle(
                [ngModel]='config.store.encrypted',
                (click)='toggleConfigEncrypted()',
            )

    .text-center(*ngIf='!vaultContents')
        i.fas.fa-key.fa-3x
        h3.m-3 Vault is locked
        button.btn.btn-primary.m-2((click)='loadVault()') Show vault contents
