.text-center(*ngIf='!vault.isEnabled()')
    i.fas.fa-key.fa-3x.m-3
    h3.m-3(translate) Vault is not configured
    .m-3(translate) Vault is an always-encrypted container for secrets such as SSH passwords and private key passphrases.
    button.btn.btn-primary.m-2((click)='enableVault()', translate) Set master passphrase


div(*ngIf='vault.isEnabled()')
    .d-flex.align-items-center.mb-3
        h3.m-0(translate) Vault
        .d-flex.ms-auto(ngbDropdown, *ngIf='vault.isEnabled()')
            button.btn.btn-secondary(ngbDropdownToggle, translate) Options
            div(ngbDropdownMenu)
                a(ngbDropdownItem, (click)='changePassphrase()')
                    i.fas.fa-fw.fa-key
                    span(translate) Change the master passphrase
                a(ngbDropdownItem, (click)='disableVault()')
                    i.fas.fa-fw.fa-radiation-alt
                    span(translate) Erase the Vault

    div(*ngIf='vaultContents')
        .text-center(*ngIf='!vaultContents.secrets.length')
            i.fas.fa-empty-set.fa-3x
            h3.m-3(translate) Vault is empty

        .list-group
            .list-group-item.d-flex.align-items-center.p-1.ps-3(*ngFor='let secret of vaultContents.secrets')
                i.fas.fa-key
                .me-auto {{getSecretLabel(secret)}}

                .hover-reveal(ngbDropdown)
                    button.btn.btn-link(ngbDropdownToggle)
                        i.fas.fa-ellipsis-v
                    div(ngbDropdownMenu)
                        button(ngbDropdownItem, (click)='showSecret(secret)')
                            i.fas.fa-fw.fa-eye
                            span(translate) Show
                        button(
                            ngbDropdownItem,
                            *ngIf='secret.type === VAULT_SECRET_TYPE_FILE',
                            (click)='renameFile(castAny(secret))'
                        )
                            i.fas.fa-fw.fa-pencil-alt
                            span(translate) Rename
                        button(
                            ngbDropdownItem,
                            *ngIf='secret.type === VAULT_SECRET_TYPE_FILE',
                            (click)='replaceFileContent(castAny(secret))'
                        )
                            i.fas.fa-fw.fa-file-import
                            span(translate) Replace
                        button(
                            ngbDropdownItem,
                            *ngIf='secret.type === VAULT_SECRET_TYPE_FILE',
                            (click)='exportFile(castAny(secret))'
                        )
                            i.fas.fa-fw.fa-file-export
                            span(translate) Export
                        button(ngbDropdownItem, (click)='removeSecret(secret)')
                            i.fas.fa-fw.fa-trash
                            span(translate) Delete

        h3.mt-5(translate) Options
        .form-line
            .header
                .title(translate) Encrypt config file
                .description(translate) Puts all of Tabby's configuration into the vault
            toggle(
                [ngModel]='config.store.encrypted',
                (click)='toggleConfigEncrypted()',
            )

    .text-center(*ngIf='!vaultContents')
        i.fas.fa-key.fa-3x
        h3.m-3(translate) Vault is locked
        button.btn.btn-primary.m-2((click)='loadVault()', translate) Show vault contents
