.d-flex.align-items-center.mb-3
    h3.m-0 SSH Connections

    button.btn.btn-primary.ml-auto((click)='createConnection()')
        i.fas.fa-fw.fa-plus
        span.ml-2 Add connection

.input-group.mb-3
    .input-group-prepend
        .input-group-text
            i.fas.fa-fw.fa-search
    input.form-control(type='search', placeholder='Filter', [(ngModel)]='filter')

.list-group.list-group-light.mt-3.mb-3
    ng-container(*ngFor='let group of childGroups')
        ng-container(*ngIf='isGroupVisible(group)')
            .list-group-item.list-group-item-action.d-flex.align-items-center(
                (click)='groupCollapsed[group.name] = !groupCollapsed[group.name]'
            )
                .fa.fa-fw.fa-chevron-right(*ngIf='groupCollapsed[group.name]')
                .fa.fa-fw.fa-chevron-down(*ngIf='!groupCollapsed[group.name]')
                span.ml-3.mr-auto {{group.name || "Ungrouped"}}
                button.btn.btn-sm.btn-link.hover-reveal.ml-2(
                    [class.invisible]='!group.name',
                    (click)='$event.stopPropagation(); editGroup(group)'
                )
                    i.fas.fa-edit
                button.btn.btn-sm.btn-link.hover-reveal.ml-2(
                    [class.invisible]='!group.name',
                    (click)='$event.stopPropagation(); deleteGroup(group)'
                )
                    i.fas.fa-trash

            ng-container(*ngIf='!groupCollapsed[group.name]')
                ng-container(*ngFor='let connection of group.connections')
                    .list-group-item.list-group-item-action.pl-5.d-flex.align-items-center(
                        *ngIf='isConnectionVisible(connection)',
                        (click)='editConnection(connection)'
                    )
                        .mr-3 {{connection.name}}
                        .mr-auto.text-muted {{connection.host}}

                        .hover-reveal(ngbDropdown, placement='bottom-right')
                            button.btn.btn-link(ngbDropdownToggle, (click)='$event.stopPropagation()')
                                i.fas.fa-fw.fa-ellipsis-v
                            div(ngbDropdownMenu)
                                button.dropdown-item((click)='$event.stopPropagation(); copyConnection(connection)')
                                    i.fas.fa-copy
                                    span Duplicate
                                button.dropdown-item((click)='$event.stopPropagation(); deleteConnection(connection)')
                                    i.fas.fa-trash
                                    span Delete

h3.mt-5 Options

.form-line
    .header
        .title Warn when closing active connections
    toggle(
        [(ngModel)]='config.store.ssh.warnOnClose',
        (ngModelChange)='config.save()',
    )

.form-line
    .header
        .title WinSCP path
        .descriptions When WinSCP is detected, you can launch an SCP session from the context menu.
    input.form-control(
        type='text',
        placeholder='Auto-detect',
        [(ngModel)]='config.store.ssh.winSCPPath',
        (ngModelChange)='config.save()',
    )
