.titlebar(*ngIf='!config.store.appearance.useNativeFrame && config.store.appearance.dock == "off"')
    .title((dblclick)='hostApp.toggleMaximize()') Term
    button.btn.btn-secondary.btn-minimize((click)='hostApp.minimize()')
        i.fa.fa-window-minimize
    button.btn.btn-secondary.btn-maximize((click)='hostApp.toggleMaximize()')
        i.fa.fa-window-maximize
    button.btn.btn-secondary.btn-close((click)='hostApp.quit()')
        i.fa.fa-close

.spacer 

.tabs(class='active-tab-{{tabs.indexOf(activeTab)}}')
    button.btn.btn-secondary.btn-new-tab((click)='newTab()')
        i.fa.fa-plus
    tab-header(
        *ngFor='let tab of tabs; let idx = index; trackBy: tab?.id',
        [index]='idx',
        [model]='tab',
        [active]='tab == activeTab',
        [hasActivity]='tab.hasActivity',
        @animateTab,
        (click)='selectTab(tab)',
        (closeClicked)='closeTab(tab)',
    )
    button.btn.btn-secondary.btn-settings((click)='showSettings()')
        i.fa.fa-cog

.tabs-content
    tab-body(
        *ngFor='let tab of tabs; trackBy: tab?.id', 
        [active]='tab == activeTab',
        [model]='tab',
        [class.scrollable]='tab.scrollable',
    )
        //-terminal(*ngIf='tab.type == "terminal"', [session]='tab.session', '[(title)]'='tab.name')
        //-settings-pane(*ngIf='tab.type == "settings"')

hotkey-hint

toaster-container([toasterconfig]="toasterconfig")
template(ngbModalContainer)

div.window-resizer.window-resizer-tl
