.tabs
    .tab(
        *ngFor='let tab of tabs; let idx = index; trackBy: tab?.id',
        (click)='selectTab(tab)',
        [class.active]='tab == activeTab',
        [class.pre-selected]='tabs[idx + 1] == activeTab',
        [class.post-selected]='tabs[idx - 1] == activeTab',
        @animateTab,
    )
        .content-wrapper
            div.index {{idx + 1}}
            div.name {{tab.name || 'Terminal'}}
            button((click)='closeTab(tab)') &times;
    button.btn-new-tab((click)='newTab()')
        i.fa.fa-plus
    button.btn-settings((click)='showSettings()')
        i.fa.fa-cog
    button.btn-minimize((click)='hostApp.minimizeWindow()')
        i.fa.fa-window-minimize
    button.btn-maximize((click)='hostApp.maximizeWindow()')
        i.fa.fa-window-maximize
    button.btn-close((click)='hostApp.quit()')
        i.fa.fa-close

.tabs-content
    .tab(*ngFor='let tab of tabs; trackBy: tab?.id', [class.active]='tab == activeTab')
        terminal([session]='tab.session', '[(title)]'='tab.name')

hotkey-hint

toaster-container([toasterconfig]="toasterconfig")
template(ngbModalContainer)

div.window-resizer.window-resizer-tl
