input.search-input.form-control(
    type='text',
    [(ngModel)]='query',
    (ngModelChange)='onQueryChange()',
    [class.text-danger]='notFound',
    (click)='$event.stopPropagation()',
    (keyup.enter)='findPrevious()',
    (keyup.esc)='close.emit()',
    placeholder='Search...'
)

button.btn.btn-link(
    (click)='findPrevious()',
    ngbTooltip='Search up',
    placement='bottom'
)
    i.fa.fa-fw.fa-arrow-up

button.btn.btn-link(
    (click)='findNext()',
    ngbTooltip='Search down',
    placement='bottom'
)
    i.fa.fa-fw.fa-arrow-down

.mr-2

button.btn.btn-link(
    (click)='options.caseSensitive = !options.caseSensitive; saveSearchOptions()',
    [class.active]='options.caseSensitive',
    ngbTooltip='Case sensitivity',
    placement='bottom'
)
    i.fa.fa-fw.fa-font

button.btn.btn-link(
    (click)='options.regex = !options.regex; saveSearchOptions()',
    [class.active]='options.regex',
    ngbTooltip='Regular expression',
    placement='bottom'
)
    i.fa.fa-fw.fa-asterisk
button.btn.btn-link(
    (click)='options.wholeWord = !options.wholeWord; saveSearchOptions()',
    [class.active]='options.wholeWord',
    ngbTooltip='Whole word',
    placement='bottom'
)
    i.fa.fa-fw.fa-text-width

.mr-2

button.btn.btn-link((click)='close.emit()')
    i.fa.fa-fw.fa-times
