.row
    .col-lg-6
        .form-group
            label Preview
            .appearance-preview(
                [style.font-family]='config.full().terminal.font',
                [style.font-size]='config.full().terminal.fontSize + "px"',
            )
                .text john@doe-pc$ ls
                .text foo bar
    .col-lg-6
        .form-group
            label Font
            input.form-control(
                type='text',
                [ngbTypeahead]='fontAutocomplete',
                '[(ngModel)]'='config.store.terminal.font',
                (ngModelChange)='config.save()',
            )
            small.form-text.text-muted Font to be used in the terminal

        .form-group
            label Font size
            input.form-control(
                type='number',
                '[(ngModel)]'='config.store.terminal.fontSize',
                (ngModelChange)='config.save()',
            )
            small.form-text.text-muted Text size to be used in the terminal

        .form-group
            label Terminal bell
            br
            div(
                '[(ngModel)]'='config.store.terminal.bell',
                (ngModelChange)='config.save()',
                ngbRadioGroup
            )
                label.btn.btn-secondary
                    input(
                        type='radio',
                        [value]='"off"'
                    )
                    | Off
                label.btn.btn-secondary
                    input(
                        type='radio',
                        [value]='"sound"'
                    )
                    | Sound
                label.btn.btn-secondary
                    input(
                        type='radio',
                        [value]='"notification"'
                    )
                    | Notification
